 <!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <link href='/theme/main.css' rel='stylesheet' type='text/css' />
        <link href='/theme/pygment.css' rel='stylesheet' type='text/css' />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
</head>

<body>
  <div class="no-css">
    <small><a href="#nav">&gt; jump to navigation</a></small>
    <h1>{{ SITENAME }}</h1>
    {% if self.content_title() %}
    <h2>{% block content_title %}{% endblock %}</h2>
    {% endif %}
  </div>
  <div id="wrapper">
  <div class="content">
{% block content %}
{% endblock %}
  </div>
  <div id="nav" class="header">
    <h2 class="no-css">Navigation</h2>
    <ul class="menu">
      <li class="menu-notice"><span>Copyright &copy; Ed Kellett, 2013-2019.</span></li>
      <li class="title"><a href="/">{{ SITENAME }}</a></li>
    {% if GITHUB_URL %}
      <li><a class="icon-tvguho" href="{{ GITHUB_URL }}">github</a></li>
    {% endif %}
    {% for title, link in LINKS %}
      <li class="menu-item"><a href="{{ link }}">{{ title }}</a></li>
    {% endfor %}
    {% if DISPLAY_PAGES_ON_MENU %}
      {% for p in PAGES %}{% if p in MENU_PAGES %}
      <li class="menu-item{% if p == page %} active{% endif %}"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endif %}{% endfor %}
    {% else %}
      {% for cat, null in categories %}
      <li class="menu-item{% if cat == category %} active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
    </ul>
  </div>
  <div id="footer" class="footer">
    {% if this is defined %}{% set mypath = this.url %}{% else %}{% set mypath = "" %}{% endif %}
    {% if WHERE == "plain" %}
      <a href="http://kellett.i2p/{{ mypath }}?i2paddresshelper=dmO74Npjl6CAf0TLq~osnqjDYaby1SgMNx1M6-WUW-3rri53-mPi~Hpc3a0gW0bQ6R55ZKh~QgoGTDzW0l6MvdQVEAPCTHpuPtV~KXEkYLcAdfe0cMr0Scq5zfM3vP6Q5Wt7GPfzYBBCyXSDVZ6upjcvGBlfNS7pOp4ffrc2Z4rlTtbSusSMFVSPtvtXpqtiIS5f8IDQdkMKYRnwRoFMf~IBUZJDGOqb7Om-jJk2LV1FJSeJc1GUfaPLhAe77Xe2Xm8bl7TaclORDwyTNpfKwrPnNP1yFo-Mf4EY3i9gi7m2f~d-H4Rx~1s9gWIinf-QvPS-PYgW7Q9smtBptRqjWHXIlXCNWH2PDoUfCcpa0tWrQwWCdaD5kc8I7PaS9xu248hOmi1iWRmQowqMb7PNejwjVybuoMT8T-MoADAmFXmJ0aeuk2ZjO7nNnQStunqndVvlilwJJbU4OmmX2CJeOZJGWYCWYbIc15kDYP-RKe80QaPahRxHZYCC9oTVMbRfBQAEAAEAAA==">kellett.i2p</a>
    {% elif WHERE == "i2p" %}
      <a href="https://kellett.im/{{ mypath }}">kellett.im</a>
    {% endif %}
  </div>
  </div>
</body>
</html>
